{% extends 'base.html.twig' %}

{% block title %}PublicationParcours{% endblock %}

{% block body %}
    <h1>PublicationParcours</h1>
    {% set experience_value = publication_parcour.experience|default('N/A') %}
    {% set experience_key = experience_value|lower %}
    {% set experience_icon = experience_key == 'bad' ? 'fa-face-frown' : (experience_key == 'excellent' ? 'fa-face-laugh-beam' : (experience_key == 'good' ? 'fa-face-smile' : 'fa-face-meh')) %}
    {% set experience_color = experience_key == 'bad' ? 'text-danger' : (experience_key == 'excellent' ? 'text-success' : (experience_key == 'good' ? 'text-primary' : 'text-muted')) %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ publication_parcour.id }}</td>
            </tr>
            <tr>
                <th>ImagePublication</th>
                <td>{{ publication_parcour.imagePublication }}</td>
            </tr>
            <tr>
                <th>Ambiance</th>
                <td>{{ publication_parcour.ambiance }}</td>
            </tr>
            <tr>
                <th>Securite</th>
                <td>{{ publication_parcour.securite }}</td>
            </tr>
            <tr>
                <th>DatePublication</th>
                <td>{{ publication_parcour.datePublication ? publication_parcour.datePublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td class="{{ experience_color }}">
                    <i class="mr-1 fa-solid {{ experience_icon }}"></i>{{ experience_value }}
                </td>
            </tr>
            <tr>
                <th>TypePublication</th>
                <td>{{ publication_parcour.typePublication }}</td>
            </tr>
            <tr>
                <th>TextPublication</th>
                <td>{{ publication_parcour.textPublication }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_publication_parcours_index') }}">back to list</a>

    <a href="{{ path('app_publication_parcours_edit', {'id': publication_parcour.id}) }}">edit</a>

    {{ include('publication_parcours/_delete_form.html.twig') }}
{% endblock %}
